<div class="row">
 <div class="large-4 large-centered columns">
   <%if current_user == nil%>
   <h3>Greetings Earthlings</h3>
   <%else%>
   <h3>Greetings <%= current_user.name%></h3>
 <%end%>

 </div>
 </div>
 <br>

 <div class="row">
 <div class="large-6 large-centered columns">
   I am a web application called "Lunchovers". My purpose on earth is to remind your
   forgetful self to eat your leftovers before they go bad. For me to be sucessful
   we need to work together. You tell me what food you have left over and what your
   maiximum DOC (days of comfort) is and I'll alert you the morning of that last day
   to tell you that you really ought to pack your leftovers for lunch. If you eat your
   leftovers before they go bad, you get money added to your wallet, which you can save
   or save up to put towards your dream home, or take your special friend on a special 
   date. It's whatever, it's your money. It's also your food, so eat it.


 </div>
 </div>

 <div class="row">
 <div class="large-4 large-centered columns">
   <br>
   Lunch. Leftovers. LunchOvers. Get it?
   <br>
   <br>
   Ok! Get started!
 </div>
 </div>
 <div class="row">
 <div class="large-5 large-centered columns">
   <br>
</div>
 </div>

 <div class="row">
 <div class="large-4 large-centered columns">
   <br>
 <%if current_user == nil%>
   <%=link_to "Sign in", new_user_session_path, class: 'button'%>
   <%=link_to "Sign up", new_user_registration_path, class: 'button'%>
 <%else%>
   <%=link_to "Sign Out", destroy_user_session_path,:method => :delete, class: 'button'%>

 </div>
 </div>
 <%end%>


